<div class="footer-container">
  <div class="footer-top">
      <div class="about-section">
          <div class="about-title">About</div>
          <div class="about-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
          <div class="contact-info">
              <div><span class="contact-label">Email: </span>info&#64;victorgomesl.dev</div>
              <div><span class="contact-label">Phone: </span>+55 51 999.999.999</div>
          </div>
      </div>
      <div class="quick-link-section">
          <div class="quick-link-title">Quick Link</div>
          <div class="quick-link-item">Home</div>
          <div class="quick-link-item">About</div>
          <div class="quick-link-item">Blog</div>
          <div class="quick-link-item">Archived</div>
          <div class="quick-link-item">Author</div>
          <div class="quick-link-item">Contact</div>
      </div>
      <div class="category-section">
          <div class="category-title">Category</div>
          <div class="category-item">Lifestyle</div>
          <div class="category-item">Technology</div>
          <div class="category-item">Travel</div>
          <div class="category-item">Business</div>
          <div class="category-item">Economy</div>
          <div class="category-item">Sports</div>
      </div>
      <div class="newsletter-section">
          <div class="newsletter-title">Weekly Newsletter</div>
          <div class="newsletter-description">Get blog articles and offers via email</div>
          <div class="newsletter-input">
              <div>Your Email</div>
              <div class="input-icon"></div>
          </div>
          <div class="newsletter-button">Subscribe</div>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="footer-logo-info">
          <div class="logo">
            <img class="main-image" src="../../../assets/footer/logo.svg" alt="MetaBlog"/>
          </div>
          <div class="footer-meta-info">
              <div class="meta-blog-title">Meta<span class="meta-blog-bold">Blog</span></div>
              <div class="meta-rights-info">© <a class="github-link" href="https://github.com/victorgomesl/" target="_blank">victorgomesl</a> - All Rights Reserved.</div>
          </div>
      </div>
      <div class="footer-links">
          <div class="footer-link-item">Terms of Use</div>
          <div class="footer-link-divider"></div>
          <div class="footer-link-item">Privacy Policy</div>
          <div class="footer-link-divider"></div>
          <div class="footer-link-item">Cookie Policy</div>
      </div>
  </div>
</div>
