
    <div class="main-container">
        <div class="sub-container">
            <div class="image-container">
                <img class="main-image" src="../../../assets/big-card/bigcard.png" alt="MetaBlog"/>
                <div class="text-container">
                  <div class="card">
                      <div class="tagline">
                          <div class="tag">Technology</div>
                      </div>
                      <div class="title">The Impact of Technology on the Workplace: How Technology is Changing</div>
                      <div class="author-info">
                          <img class="author-avatar" src="../../../assets/big-card/avatar.png" />
                          <div class="author-name">Jason Francisco</div>
                          <div class="publish-date">August 20, 2023</div>
                      </div>
                      </div>
                </div>
            </div>
         </div>
    </div>


