
  <div class="main-container">
      <div class="header">
          <div class="header-title">Latest Post</div>
      </div>

      <div class="posts">
          <!-- Post 1 -->
          <div class="post">
              <img class="post-image" src="../../../assets/small-card/rectangle-1.png" />
              <div class="post-content">
                  <div class="post-category">Technology</div>
                  <div class="post-title">The Impact of Technology on the Workplace: How Technology is Changing</div>
                  <div class="author-container">
                      <img class="author-avatar" src="../../../assets/small-card/avatar-1.png" />
                      <div class="author-name">Tracey Wilson</div>
                      <div class="post-date">August 20, 2023</div>
                  </div>
              </div>
          </div>

          <!-- Post 2 -->
          <div class="post">
              <img class="post-image" src="../../../assets/small-card/rectangle-2.png" />
              <div class="post-content">
                  <div class="post-category">Technology</div>
                  <div class="post-title">The Impact of Technology on the Workplace: How Technology is Changing</div>
                  <div class="author-container">
                      <img class="author-avatar" src="../../../assets/small-card/avatar-2.png" />
                      <div class="author-name">Jason Francisco</div>
                      <div class="post-date">August 20, 2023</div>
                  </div>
              </div>
          </div>

          <!-- Post 3 -->
          <div class="post">
              <img class="post-image" src="../../../assets/small-card/rectangle-3.png" />
              <div class="post-content">
                  <div class="post-category">Technology</div>
                  <div class="post-title">The Impact of Technology on the Workplace: How Technology is Changing</div>
                  <div class="author-container">
                      <img class="author-avatar" src="../../../assets/small-card/avatar-3.png" />
                      <div class="author-name">Elizabeth Slavin</div>
                      <div class="post-date">August 20, 2023</div>
                  </div>
              </div>
          </div>

          <!-- Post 4 -->
          <div class="post">
              <img class="post-image" src="../../../assets/small-card/rectangle-4.png" />
              <div class="post-content">
                  <div class="post-category">Technology</div>
                  <div class="post-title">The Impact of Technology on the Workplace: How Technology is Changing</div>
                  <div class="author-container">
                      <img class="author-avatar" src="../../../assets/small-card/avatar-4.png" />
                      <div class="author-name">Ernie Smith</div>
                      <div class="post-date">August 20, 2023</div>
                  </div>
              </div>
          </div>

          <!-- Post 5 -->
          <div class="post">
              <img class="post-image" src="../../../assets/small-card/rectangle-5.png" />
              <div class="post-content">
                  <div class="post-category">Technology</div>
                  <div class="post-title">The Impact of Technology on the Workplace: How Technology is Changing</div>
                  <div class="author-container">
                      <img class="author-avatar" src="../../../assets/small-card/avatar-5.png" />
                      <div class="author-name">Eric Smith</div>
                      <div class="post-date">August 20, 2023</div>
                  </div>
              </div>
          </div>

          <!-- Post 6 -->
          <div class="post">
              <img class="post-image" src="../../../assets/small-card/rectangle-6.png" />
              <div class="post-content">
                  <div class="post-category">Technology</div>
                  <div class="post-title">The Impact of Technology on the Workplace: How Technology is Changing</div>
                  <div class="author-container">
                      <img class="author-avatar" src="../../../assets/small-card/avatar-6.png" />
                      <div class="author-name">Tracey Wilson</div>
                      <div class="post-date">August 20, 2023</div>
                  </div>
              </div>
          </div>

          <!-- Post 7 -->
          <div class="post">
              <img class="post-image" src="../../../assets/small-card/rectangle-7.png" />
              <div class="post-content">
                  <div class="post-category">Technology</div>
                  <div class="post-title">The Impact of Technology on the Workplace: How Technology is Changing</div>
                  <div class="author-container">
                      <img class="author-avatar" src="../../../assets/small-card/avatar-7.png" />
                      <div class="author-name">Tracey Wilson</div>
                      <div class="post-date">August 20, 2023</div>
                  </div>
              </div>
          </div>

          <!-- Post 8 -->
          <div class="post">
              <img class="post-image" src="../../../assets/small-card/rectangle-8.png" />
              <div class="post-content">
                  <div class="post-category">Technology</div>
                  <div class="post-title">The Impact of Technology on the Workplace: How Technology is Changing</div>
                  <div class="author-container">
                      <img class="author-avatar" src="../../../assets/small-card/avatar-8.png" />
                      <div class="author-name">Elizabeth Slavin</div>
                      <div class="post-date">August 20, 2023</div>
                  </div>
              </div>
          </div>

          <!-- Post 9 -->
          <div class="post">
              <img class="post-image" src="../../../assets/small-card/rectangle-9.png" />
              <div class="post-content">
                  <div class="post-category">Technology</div>
                  <div class="post-title">The Impact of Technology on the Workplace: How Technology is Changing</div>
                  <div class="author-container">
                      <img class="author-avatar" src="../../../assets/small-card/avatar-9.png" />
                      <div class="author-name">Ernie Smith</div>
                      <div class="post-date">August 20, 2023</div>
                  </div>
              </div>
          </div>
      </div>

      <div class="view-all-wrapper">
          <div class="view-all-container">
              <div class="view-all">View All Post</div>
          </div>
      </div>
  </div>
