/* You can add global styles to this file, and also import other style files */


*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  background-color: #181A2A;
  font-family: 'Work Sans', sans-serif;
}
